* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Defining global variables  */
:root {
  --primary: #f7f7f7;
  --secondry: #333;
  --textColor: rgb(153, 71, 235);
  --btn-color: #706dcf;
  --p-color:grey;
  --text-hover: rgb(95, 81, 252);
  --button-shadow:0.4rem 0.4rem 12rem #706dcf;
  --shadow: 0.4rem 0.4rem 46rem #dfd2ef;
  --border: 0.2rem solid rgb(197, 177, 241);
  --rounded-md: 0.8rem;
  --rounded-full: 100%;
}

/* Body style  */
body {
  background-color: var(--primary);
  width: 100%;
}

/* main div styling  */
main{
  width: 90%;
  margin: auto;
}

/* Header styles  */
header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  padding: 1rem 0;
  font-weight: 650;
  color: var(--secondry);
  justify-content: center;
}

/* Main div style  */
.main {
  background-color: transparent;
  height: fit-content;
  display: flex;
  margin-bottom: 1.5rem;
  padding: 0.4rem;
}

/* Right Box styling  */

.right {
  margin: 0 1rem;
  border-radius: var(--rounded-md);
  text-align: left;
  padding: 3rem 4rem;
  background-color: #fff;
  width: 30%;
}

/* Link Box Styling  */
.link-box {
  margin-top: 1.2rem;
  background-color: var(--primary);
  padding: 1.5rem 1rem;
  border-radius: var(--rounded-md);
}

.link-box span {
  font-size: 2.5rem;
  font-weight: 550;
  color: var(--secondry);
}
.link-box ul {
  margin-left: 2.5rem;
  font-weight: 550;
  list-style: none;
}

.link-box ul li {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  cursor: pointer;
  display: block;
}
.link-box ul li:hover {
  color: var(--text-hover);
}
/* Left Div styles  */

.left {
  width: 70%;
  overflow: hidden;
  background-color: #fff;
  padding: 0.5rem;
  height: fit-content;
  border-radius: var(--rounded-md);
}

/* Outer styles */
.outer-box {
  display: flex;
  width: 100%;
  margin: 2.5rem 0;
}

/* Outer img styles  */

.img-box {
  width: 50%;
  background-color: var(--primary);
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
}
.img-box:hover {
  box-shadow: var(--shadow);
}

/* Image box image styles  */
.img-box img {
  width: 20rem;
  cursor: pointer;
  transition: all 0.5s;
  height: 22rem;
}

/* image hover styling  */

.img-box img:hover {
  transform: scale(1.2);
}

/* Details box styles  */

.details {
  height: 22rem;
  width: 50%;
  padding: 0 0.5rem;
  margin: 0 1rem;
  border-radius: var(--rounded-md);
  display: flex;
  flex-direction: column;
}

/* Details styling  */

.details:hover {
  border: var(--border);
}

.details span {
  font-size: 2.5rem;
  color: var(--secondry);
  font-weight: 650;
  margin: 1rem 0;
}
.details p {
  color: var(--p-color);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 550;
}

/* last section Styling  */
.last {
  width: 100%;
  padding: 2rem 1.5rem;
  border-radius: var(--rounded-md);
  background-color: var(--primary);
}
.last span {
  font-size: 2.5rem;
  margin: 2rem 0;
  font-weight: 550;
  color: var(--secondry);
}
.last p {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 650;
  line-height: 2rem;
}

/* Sub box styling  */

.sub {
  width: 99%;
  border-radius: var(--rounded-md);
  margin: auto;
  margin-top: 3rem;
  background-color: #fff;
  padding: 2rem;
}

/* features box styling  */

.our-features{

}
.head-text-box {
  display: flex;
  flex-direction: column;
}
.heading {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}
.sub-heading {
  width: 50%;
  font-size: 1.4rem;
  font-weight: 550;
  color: gray;
}
.slider-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
  border-radius: var(--rounded-md);
  margin-top: 1.5rem;
  background-color: var(--primary);
}

.features-box {
  background-color: #fff;
  width: 25%;
  border-radius: var(--rounded-md);
  padding: 1rem;
  cursor: pointer;
  height: 30rem;
}
.features-box:hover{
  box-shadow: var(--button-shadow);
}
.features-box-img {
  max-width: 32%;
  padding: 0.5rem;
  transition: all 0.8s;
  cursor: pointer;
  border-radius: var(--rounded-md);
  background-color: var(--primary);
}
.features-box-img img {
  width: 100%;
}
.features-box-img:hover {
  transform: scale(0.9);
}
.feature-details {
  padding-top: 2rem;
}
.feature-details span {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--secondry);
}
span:hover {
  color: var(--text-hover);
  cursor: pointer;
}
.feature-details p {
  margin-top: 1.2rem;
  font-size: 1.4rem;
  text-align: justify;
}

/* Teachers section styling  */

.head-text-box-new {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: center;
}
.head-text-box-new hr {
  border: 0;
  margin: 0 1.2rem 1rem 1.2rem;
  height: 0.3rem;
  width: 12rem;
  background-color: var(--secondry);
}
.t-details-box {
  width: 40%;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  margin: 2rem 0;
  border-radius: var(--rounded-md);
  background-color: #fff;
}
.t-details-box:hover{

  box-shadow: var(--button-shadow);
}
.t-img-box {
  height: 100%;
  width: 50%;
  border-radius: var(--rounded-md);
  overflow: hidden;
  transition: all 0.5s;
  background-color: var(--secondry);
}
.t-img-box img {
  width: 100%;
  height: 100%;
}
.t-img-box:hover,
.t-img-box im:hover {
  transform: translateX(-3rem);
  transform: scale(1.1);
  box-shadow: var(--shadow);
}
.t-details {
  width: 50%;
  padding: 0.1rem 0.5rem;
  display: flex;
  flex-direction: column;
}
.t-name {
  font-size: 2.2rem;
  font-weight: 670;
  margin-bottom: 0.8rem;
}
.deg {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--secondry);
  margin-bottom: 0.5rem;
}
.about {
  font-size: 1.3rem;
  font-weight: 650;
  color: var(--p-color);
}
.inner-t-box {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.t-media {
  width: 80%;
  margin: auto;
  padding: 5rem;
}

/* Last five year admitted student design  */

.timeStamps{
  width: 70%;
  padding: .8rem 2.1rem;
  border-radius: var(--rounded-md);
  margin: auto;
  display: flex;
  margin-top: 4rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
}
.timeStamps button{
  margin-right: 2rem;
  background-color: #fff;
  padding: 1.2rem 2rem;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: var(--rounded-md);
}
.timeStamps button:hover{
  background-color:var(--btn-color);
  color: #fff;
  box-shadow: var(--button-shadow);
}

.table-wrapper{
  background-color: var(--primary);
  border-radius: var(--rounded-md);
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  padding: 20rem;
}


/* Placement section styling  */

.place-wrapper{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: var(--primary);

}
.place-left{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: var(--rounded-md);
  border-bottom-left-radius: var(--rounded-md);
  padding: 5rem;
  background-color: #fff;

}
.place-right{
  width: 50%;
 display: flex;
 gap: .8rem;
 flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-top-right-radius: var(--rounded-md);
  border-bottom-right-radius: var(--rounded-md);
  padding: 2rem;
  background-color: #fff;

}

.user-box{
  width: 80% ;
  height: 80%;
  display: flex;
  background-color: var(--primary);
  padding: 1rem 2rem;
  border-radius: var(--rounded-md);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.user-box img{
  width: 80%;
  height: 80%;
  margin-bottom: 1.2rem;
}

.user-box:hover{
  box-shadow: var(--button-shadow);
}
.mini-user-box{
  width: 30%;
  height: fit-content;
  background-color: var(--primary);
  display: flex;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: var(--rounded-md);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  
}
.mini-user-box:hover{
  box-shadow: var(--button-shadow);
}

.mini-user-box img{
  width: 100%;
  height: 50%;
}
.mini-heading{
  font-size: 1.5rem;
}
.mini-sub-heading{
  font-size: .8rem;
  color: gray;
  font-weight: 750;
}


/* Testimonila section styling */

.t-component{
  width: 25%;
  margin: 2rem;
  background-color: #fff;
  height: fit-content;
  cursor: pointer;
  padding: .5rem 1.8rem;
  text-align: justify;
  border-radius: var(--rounded-md);
}

.t-component:hover{
  box-shadow: var(--shadow);
}
.t-message{
  font-size: 1.5rem;
  font-weight: 680;
  color: var(--p-color);
}
.t-message b{
  font-size: 2rem;
}
.t-t-details{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: .8rem;
  margin-top: 2.5rem;
  background-color: var(--primary);
  border-radius: var(--rounded-md);
  align-items: start;
  gap: 2rem;
}
.t-img img{
  width: 100%;
  height: 100%;
}
.t-img{
  width: 25%;
  height: 100%;
  cursor: pointer;
  transition: all .5s;
  padding: .5rem;
  border-radius: var(--rounded-md);
  background-color: #fff;
}
.t-img:hover{
  box-shadow: var(--button-shadow);
}
.name{
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Responsive media screen styling  */

@media screen and (max-width:768px) {

  html{
    font-size: 50%;
  }
  body{
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--btn-color);
  }

  /* intro section styling  */
  main{
    width: 100vw;
    overflow-x: hidden;
    margin:0;
    height: fit-content;
  }
  .main{
    width: 100vw;
    overflow-x: hidden;
  }
  .left{
    width: 100%;

  }
  .right{
    display: none;
  }

  /* fetaures section styling  */
  .slider-wrapper{
    justify-content: center;
    gap: 2.5rem;
    flex-direction: column;
  }
  .feature-details p{
    font-size: 1.3rem;

  }

 
  
}


@media  screen and (max-width:448px){
  html{
    font-size: 40%;
  }
  body{
    padding:.1rem;
  }
  .main{
    height: fit-content;
    padding-bottom: 4rem;
  }
  .last{
    margin: 2rem 0;

  }
  .features-box{
    width: 90%;
    
  }
  .t-details-box{
    width: 95%;
  }
  .t-component{
    width: 95%;
  }
  .details p{
    font-size: 1rem;
  }
  .timeStamps{
    width: 98%;
  }
  .heading{
    display: inline block;
    overflow-y: hidden;
  }
  .table-wrapper{
    width: 98%;
  }
  .sub-heading{
    width: 100%;
  }
  .feature-details{
    padding: 0 2rem 0 0;
  }
  .place-right{
    padding: 1rem;
  }
  .place-left{
    height: 26.5rem;
    padding: 1rem;
  }
  .user-box{
    width: 100%;
  }
   .place-left .user-box .heading{
    font-size: 1.5rem;
  }
  .place-left .user-box .sub-heading{
    font-size: 1rem;
  }
  .place-wrapper{
    height: 100%;
    overflow: hidden;
  }
  .place-right{
    padding: 1rem;
    gap: .2rem;
    height: 26.5rem;
    overflow-y: scroll;
    justify-content: center;
  }
  .mini-user-box{
    width: 40%;
    margin: 1.2rem .5rem;
    height: 10rem;
    padding: 1rem .5rem;
  }
  .mini-user-box img{
    width: 80%;
    aspect-ratio: 1/1;
    height: 50%;
  }
  .mini-heading{
    margin-top: .3rem;
    font-size: 1rem;
  }
  .place-right .mini-user-box .mini-sub-heading{
    font-size: .1rem;
  }

  .name{
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .name {
    font-size: 7rem;
  }
}
